DATABASE_URL=postgresql://app_user:replace_me@ep-example-pooler.ap-southeast-1.aws.neon.tech/expense_tracker?sslmode=require&channel_binding=require
MIGRATION_DATABASE_URL=postgresql://app_user:replace_me@ep-example.ap-southeast-1.aws.neon.tech/expense_tracker?sslmode=require&channel_binding=require
